@import url('https://fonts.googleapis.com/css2?family=Titan+One&display=swap');

.cursor {
    cursor: pointer;
    color: white;
    }
.fonte {
    font-family: 'Titan One', cursive!important;
}

.text-decoration-none {
    text-decoration: none;
}